body {
    text-align: center;
    background-image: url(https://i.postimg.cc/mrnSyyMn/joe-woods-4-Zaq5x-Y5-M-c-unsplash.jpg);
}

.menu {
    list-style: none;
    font-family: fantasy;
    font-style: normal;
    font-size: 30px;
    top: 150px;
    right: 1px;
    position: fixed;
    cursor: pointer;
    z-index: 10;
}

#About {
    font-family: monospace;
    font-style: normal;
    font-size: 50px;
}

#topic {
    font-family: monospace;
    font-size: 50px;
}

#Main {
    font-family: monospace;
    font-size: 45px;
}

hr {
    height: 10px;
    background-color: black;
}

.links:hover {
    background-color: black;
    color: white;
}

.links {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: center;
    color: black;
    margin: 50px;

}
